alembic
alembic-postgresql-enum
asyncpg
bcrypt==4.0.1
cloudinary
email-validator
fastapi
fastapi-mail
jinja2
passlib
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
requests
slowapi
SQLAlchemy
uvicorn
wsproto

