alembic
bcrypt==4.0.1
cloudinary
email-validator
fastapi
fastapi-mail
jinja2
passlib
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
requests
slowapi
SQLAlchemy
uvicorn

# Indexing & LLM Integration
langchain
langchain_community
langchain_openai
langchain_experimental
langchain_qdrant
langchain_neo4j
qdrant_client
python-docx
openai-agents
